/**
 * Newsletter
 */
.news-full {
    border-top: 2px solid #ef88a0;
    margin-top: 0;
    position: relative;
    width: 100%; 
    
    @media screen and (max-width: $sm){
        background: none !important;  
    }
}

.newsletter-1{
    padding: 35px 0;  
    text-align: center;
    position: relative;
    z-index: 10;
    
    h2{
        @include typo(6.5rem, 400, $font2, 6.7rem);
        color: #e42754;
        display: block;
        padding-bottom: 0;
        text-transform: none;
        
        @media screen and (max-width: $md){
            @include typo(4.4rem, 400, $font2, 4.6rem);    
        }
        
        @media screen and (max-width: $sm){
            @include typo(3.3rem, 400, $font2, 3.5rem);    
        }
    }
    
    span{
        @include typo(2rem, 300, $font, 2.2rem); 
        color: #292929;
        display: block;
        margin-top: 10px;
        
        @media screen and (max-width: $md){
            @include typo(1.5rem, 300, $font, 1.7rem);   
            margin-bottom: 10px;
        }
        
        @media screen and (max-width: $sm){
            @include typo(1.3rem, 300, $font, 1.5rem);   
            margin-bottom: 10px;
        }
    }
    
    form{
        margin: 20px auto 0;
        width: 52%;
        
        @media screen and (max-width: $sm){
            margin: 0 auto;
            width: 85%;
        }
        
        div{
            overflow: hidden;
            
            input{
                background: none;
                border: 1px solid #e42754;
                color: #6d6d6d;
                padding: 10px;
                width: 100%;
                @include typo(1.5rem, 400, $font, 1.5rem);
                
                @media screen and (max-width: $md){
                    padding: 7px;
                    @include typo(1.1rem, 400, $font, 1.3rem);    
                }
                
                @media screen and (max-width: $sm){
                    padding: 7px;
                    @include typo(1.1rem, 400, $font, 1.3rem);    
                }
            }
        }
        
        button{
            background: #e42754;
            border: none;
            color: #fff;
            letter-spacing: 1px;
            margin-left: 10px;
            padding: 0 50px;
            text-align: center;
            text-transform: none;
                
            @include typo(1.7rem, 400, $font, 4rem);
            
            @media screen and (max-width: $md){
                padding: 0 6px;
                @include typo(1.1rem, 400, $font, 2.7rem);
            }
            
            @media screen and (max-width: $sm){
                padding: 0 6px;
                @include typo(1.1rem, 400, $font, 2.7rem);
            }
        }
    }
}

// Noticias
.page-content {
    
    .noticias {
        li{
            float: none;
            padding: 0;
            margin: 10px 0;
            border: 1px dotted #ccc;
            height: 95px;
            
            #noticia_imagem {
                float: left;
                width: 95px;
                height: 95px;
                text-align: center;
                margin: 0 5px;
                padding: 0;
            }
            
            #noticia_dados {
                overflow: hidden;
                padding: 15px;
            }
        }
    }
}