{% if products|length > 0 %}
    <div class="showcase clearfix {{ showcaseCarousel }}" data-tray-tst="vitrine_home">
        <div class="container">
            <div class="bl-section-head">
                <div class="bl-section-head__text">
                    {% if showcaseKicker %}<span class="bl-section-head__kicker">{{ showcaseKicker }}</span>{% endif %}
                    <h2 class="bl-section-head__title">{{ showcaseTitle }}</h2>
                </div>
                {% if showcaseLink %}
                    <a href="{{ showcaseLink }}" class="bl-section-head__link">Ver todos &rsaquo;</a>
                {% endif %}
            </div>
            <ul class="product-list">
            {% for product in products %}
                {% set ranking = product.ranking %}
                <li class="col-sm-3" data-tray-tst="vitrine_produto">
                    {% element 'snippets/product' {"product": product} %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}